* {
    font-family:"Inter", sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #F1F5F9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    
}

.imglogo {
    height: 60px;
    margin: 0;
    padding: 0;
    border-radius: 100px;
}
.pai {
    position: relative;
}

.pai h2 {
    position: absolute;
    left: 100px;
    top: 30px;
    font-size: 20px;

}

.header-sobre-nos button {
    border: 0;
    background-color: #F8F6F8;
    margin-right: 30px;
}

.header-ajuda-botao .laranja{
    background-color: #F5A623;
    border-radius: 5px;
    color: #F8F6F8;
    border: 0;
    padding: 15px;
    width:200px ;
    margin-right: 5px;
    font-size: large;
    cursor: pointer;

}

.header-ajuda-botao .azul{
    background-color: #7311D4;
    border-radius: 5px;
    color: #F8F6F8;
    border: 0;
    padding: 15px;
    width: 200px;
    font-size: large;
    cursor: pointer;

}

.body {
    background-color: #F1F5F9;
    height:  680px;
    margin: 0;
}

.titulo {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    padding: 40px 0 10px;
}

.titulo h2 {
    font-size: 30px;
    font-weight: 900;
}

p {
    display: flex;
    justify-content: center;
    font-size: 12px;
    padding: 0 0 20px 0;
}

.container {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    margin: 0 auto;
    width: 300px;
    padding:70px;
    border-radius: 20px;
}

.container-form {
    display: flex;
    background-color: #FFFFFF;
    height: 400px;
    width: 400px;
    border-radius: 0 10px 10px 0;
    align-items: center;
    
}



label {
    display: block;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 500;
}

input {
    padding: 17px;
    width: 300px;
    border-radius: 5px;
    border: 0;
    background-color: #FAF8FC;
    color: #CBBDDA;
    margin: 5px 0 5px 0;
}


button {
    padding: 10px;
    width: 335px;
    border-radius: 5px;
    margin-top: 5px;
    background-color: #7311D4;
    color: #FFFFFF;
    font-weight: 600;
}

footer {
  padding: 20px;
  background: #FAF8FC;
}

footer .links {
  display: flex;
  justify-content: center;
  gap: 20px; 
}

footer .copy {
  margin-top: 15px; 
}


.linha p{
     color: #f0ebeb; 
     margin: 0;
     padding: 0;

}



.termos-container {
  display: flex;
  align-items: center;
  gap: 10px; 
  font-size: 12px;
  margin: 0;
}


.termos-container a {
  color: #7B2FF7;   
  text-decoration: none;
  font-weight: 600;
}


.termos-container a:hover {
  text-decoration: underline;
}


.termos-container input[type="checkbox"] {
  width: 22px;
  height: 22px;
}

