<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

  <div class="pai">
        <div>       
            <h2>Esperança no Prato</h2>
        </div>
     </div>

<header>
     <img class="imglogo" src="assets/img-arrecadacao.png" alt="cesta">
   

    <div class="header-ajuda-botao">
        <a routerLink="/login"><button class="laranja">Solicitar Ajuda</button></a>
        <a routerLink="/doacao-cadastro"><button class="azul">Seja um voluntário</button></a>
    </div>
</header>
<div class="body">
    

    <div class="titulo">
        <h2>Crie sua conta</h2>
    </div>
    
    <div>
                <p>Complete seus dados para solicitar apoio.</p>
    </div>



    <div class="container">

        <div class="container-form">
        <form action="">
             
            <label for="">Nome Completo</label>
            <input type="text"  name="email" placeholder="Digite seu nome">

            <label for="">CPF</label>
            <input type="number" name="" placeholder="000.000.000-00">

            <label for="">E-mail</label>
            <input type="email" name="" placeholder="Seuemail@email.com.br">

            <label for="">Senha</label>
            <input type="password" name="" placeholder="Crie uma senha forte">

            <label for="">Confirmar Senha</label>
            <input type="text" name="" placeholder="Repita sua senha ">

            <div class="termos-container">


                <input type="checkbox" id="termos">
                <label for="termos">
                    Eu li e concordo com os 
                <a href="#">Termos de Uso</a>
                e a
                <a href="#">Política de Privacidade</a>.
                </label>
            </div>

            <button>Finalizar Cadastro</button>

            <div>
                
            </div>

        </form>
        </div>
    </div>



    <div class="linha">
        <p>_____________________________________________________________________________________________________________________________________________________________________________________________________</p>
    </div>
    
    <footer>

        <div class="links">
            <p><a href="">Contato </a></p>
            <p><a href="">Sobre Nós</a></p>
            <p><a href="">Política de Privacidade</a></p>
        </div>

        <div class="copy">
            <p>© 2024 Esperança no Prato. Todos os direitos reservados.</p>
        </div>

    </footer>
   
</div>

