<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
<header>
     <img class="imglogo" src="assets/img-arrecadacao.png" alt="cesta">
    <div>       
        <h2 class="nome-projeto">Esperança no Prato</h2>
    </div>

    <div class="header-ajuda-botao">
        <a routerLink="/login"><button class="laranja">Solicitar Ajuda</button></a>
        <a routerLink="/doacao-cadastro"><button class="azul">Seja um voluntário</button></a>
    </div>
</header>

<p class="linha-1">___________________________________________________________________________________________________________________________________________________</p>



<div class="container-solictar-ajuda">
    <div>
        <img src="assets/img-principal.png" alt="Imagem do projeto">
    </div>

    <div class="texto-sobre-imagem">
        <h1>Dignidade e Esperança no <br> Prato de Quem Precisa</h1>
        <p>Junte-se a nós na missão de fornecer alimentos e produtos de higiene para famílias em <br> situação de vulnerabilidade.</p>

        
        
        <a routerLink="/login"><button class="laranja-2">Quero Solicitar Ajuda</button></a>
        <a routerLink="/doacao-cadastro"><button class="azul-2">Quero Ser Voluntário</button></a>
    </div>
    <div class="nossa-missao">
        <h2>Nossa Missão</h2>
        <p>Nosso propósito é combater a insegurança alimentar e promover a dignidade, 
           garantindo que <br> itens essenciais cheguem às mãos de quem mais precisa com respeito e empatia.
           Acreditamos <br> que o acesso à alimentação é um direito humano fundamental e trabalhamos incansavelmente <br>
           para construir uma comunidade mais justa e solidária.
        </p>
    </div>
</div>

<div class="conatiner-como-funciona">
    <div>
        <h2>Como Funciona</h2>
        <p>Nosso processo é simples e transparente, conectando quem quer ajudar com quem <br> precisa de apoio.</p>
    </div>
</div>



 <div  class="box-como-funciona">
        <div class="arrecadacao">
            <img src="assets/img-arrecadacao.png" alt="img arrecadacao">
            <h2>1. Arrecadacao</h2>
            <p>Recebemos doações de alimentos e <br> produtos de higiene de pessoas e empresas <br> parceiras. Voluntários nos ajudam na coleta <br> e organização.</p>
        </div>

        <div class="montagem">
            <img src="assets/img-cestas.png" alt="cestas">
            <h2>2. Montagem das Cestas</h2>
            <p>Nossa equipe de voluntários organiza os itens arrecadados em cestas básicas e kits de higiene completos e balanceados.</p>
        </div>

        <div class="distribuicao">
            <img src="assets/img-distribuicao.png" alt="distribuicao">
            <h2>3. Distribuição</h2>
            <p>As cestas são entregues diretamente às <br> famílias cadastradas, garantindo que a <br> ajuda chegue com agilidade e respeito a <br> quem precisa.</p>
        </div>

    </div>

  
<div class="container-numeros">
    <div>
        <h2>Nosso Impacto em  Números</h2>
        <p>Cada doação se trasforma em um gesto de esperança. Veja o que já conquistamos <br> juntos.</p>
    </div>
</div>

<div class="box-numeros">
    <div class="familias">
        <h2>1,200+</h2>
        <p>Famílias Ajudadas</p>
    </div>

    <div class="entregues">
        <h2>5,000+</h2>
        <p>Cestas Entregues</p>
    </div>

    <div class="ativos">
        <h2>300+</h2>
        <p>Voluntários Ativos</p>
    </div>
</div>

<div class="box-depoimento">
    <div>
        <img src="assets/img-depoimento.png" alt="imagem">
        <p class="depoimento-maria">"A cesta básica chegou em um momento muito difícil para minha família. Foi mais que comida, foi um sinal de que não estávamos sozinhos. Sou eternamente grata."</p>
        <p>- Maria S., Beneficiária</p>
    </div>    
</div>

<div class="container-final">
    <div>
        <h2>Faça Parte da Mudança</h2>
        <p>Sua ajuda é fundamental para continuarmos nossa missão. Junte-se a nós e ajude a levar <br> esperança para mais famílias.</p>
    </div>

    <div class="container-final-button">
        <a routerLink="doacao-cadastro"><button>Quero Doar Agora</button></a>
        <a routerLink="doacao-cadastro"><button class="button-white">Seja um Voluntário</button></a>
    </div>
   
</div>

<footer>
    <div class="footer-text">
        <h3>Esperança no Prato</h3>
        <p>Transformando doações em dignidade e esperança para famílias em  <br> vulnerabilidade.</p>

    </div>


    <div class="footer-list">
        <h3>Navegue</h3>
        <a href="">Sobre Nós</a>
        <a href="">Como Ajudar</a>
        <a href="">Contato</a>
        <a href="">Transparência</a>
    </div>

    <div class="footer-contato">
        <h3>Contato</h3>
        <a href="">contato@esperancanoprato.org</a>
        <a href="">(11) 98765-4321</a>
    </div>
    
</footer>


<div class="linha">
    <p>___________________________________________________________________________________________________________________________________________________</p>
</div>

<div class="direitos-reservados">
    <p>© 2024 Esperança no Prato. Todos os direitos reservados.</p>
</div>


