<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">


<header>
    <div class="container-header">
        <div>
            <img src="assets/img-cesta-basica.png" alt="entrega">
        </div>
        <div class="container-h1">
            <h1>Faça parte da mudança</h1>
            <p>Sua contribuição leva esperança dignidade para famílias carentes. Junte-se a <br> nós e ajude a transformar vidas!</p>
        </div>
    </div>
   
</header>

<div class="como-ajudar">
    
    <div>
        <h2>Como você gostaria de ajudar?</h2>
        <p> <input type="checkbox" name="" id="">Doar meu tempo <br> participe na logística, distribuição e organização.</p>
        
        <p><input type="checkbox" name="" id="">Doação Financeira <br> Apoie nossa estrutura e a compra de mais itens.</p>

        <p><input type="checkbox" name="" id="">Doar Itens <br>Contribua com cestas básicas e kits de higiene.</p>
        
        
    </div>
</div>

<h2 class="h2-contatos">Seus dados de contato</h2>

<div class="seus-dados-contato">
    <div class="linha">
        <div>
            <label>Nome Completo</label>
            <input type="text" placeholder="Digite seu nome completo">
        </div>

        <div>
            <label>E-mail</label>
            <input type="email" placeholder="seuemail@exemplo.com">
        </div>
    </div>

    <div>
        <div class="campo menor">
            <label>Telefone (WhatsApp)</label>
            <input type="text" placeholder="(00) 90000-0000">
        </div>
    </div>
</div>

    <div class="doacao-titulo">
        <h2>Detalhes da Doação</h2>
        <p>Com base na sua seleção, por favor, nos dê mais detalhes. </p>
    </div>








<div class="container-valores-doar">
    <div class="titulo-doar">
        <p>Escolha o valor da sua doação finaceira</p>
    </div>

    <div class="button-doar">
        <button>R$20</button>
        <button>R$50</button>
        <button>R$100</button>
        <button>Outro</button>
    </div>

    <div>
        <input type="text" name="" placeholder="Ou digite um valor aqui">
    </div>
</div>

<div class="botao-doar">
    <button>Finalizar Cadastro e Doar</button>
</div>






<div class="container-numeros">
    <div>
        <h2>Nosso Impacto em  Números</h2>
        <p>Cada doação se trasforma em um gesto de esperança. Veja o que já conquistamos <br> juntos.</p>
    </div>
</div>

<div class="box-numeros">
    <div class="familias">
        <h2>1,200+</h2>
        <p>Famílias Ajudadas</p>
    </div>

    <div class="entregues">
        <h2>5,000+</h2>
        <p>Cestas Entregues</p>
    </div>

    <div class="ativos">
        <h2>300+</h2>
        <p>Voluntários Ativos</p>
    </div>
</div>